html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  color: #9EBA9E;
  background-color: #F0F0F0;
  display: table;
  font-weight: 100;
  font-family: 'Open Sans';
}

p {
  font-size: 18px;
}

.container {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.content {
  text-align: center;
  display: inline-block;
}

.title {
  font-size: 60px;
  margin-bottom: 30px;
}
