html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #F6F6F6;
  display: table;
  font-weight: 100;
  font-family: 'Open Sans';
}

p {
  color: #898989;
  font-size: 18px;
}

.container {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.content {
  text-align: center;
  display: inline-block;
}

.title {
  color: #86B886;
  font-size: 60px;
  margin-bottom: 30px;
}
